*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #000;
    font-family: sans-serif;
    color: aliceblue;
    text-align: center;
    position: relative;
    height: 100vh;
}
.image_box{
    width: 40%;
    height: 35vh;
    position: absolute;
    top: 80%;
    left: 75%;
    translate: -50% -50%;
    z-index: -1;
    box-shadow: 0rem .1rem 3rem  #43c6ac;
    border-radius: 20px;
    animation:change 5s infinite ease-in-out;

   
}
@keyframes change{
 0%{ box-shadow: 0rem .1rem 6rem  #43c6ac;}
 25%{ box-shadow: 0rem .1rem 3rem  #43c6ac;}
 50%{ box-shadow: 0rem .1rem 0rem  #43c6ac;}
 75%{ box-shadow: 0rem 0rem 0rem #000;}
 85%{box-shadow: 0rem 0rem 0rem #ffffff;}
 100%{ box-shadow: 0rem .1rem 7rem  #43c6ac;}
}

.wrapper{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    
    
}
.wrapper .static_txt{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}
.wrapper .dynamic_txt{
    margin-left: 15px;
    line-height: 20px;
    height: 20px;
    margin-bottom: 0px;
    overflow: hidden;
}
.dynamic_txt li{
    list-style: none;
    color: #43c6ac;
    font-weight: 600;
    position: relative;
    font-size: 20px;
    top: 0;
    animation: slide 9s steps(3)
    infinite;
}
@keyframes slide{
    100%{
        top: -60px;
    }
}
.dynamic_txt li::after{
    content: '';
    position: absolute;
    background-color: #000;
    height: 100%;
    width: 100%;
    border-left: 2px solid #43c6ac;
    left: 0;
    animation: typing 3s steps(17) infinite;

}
@keyframes typing{
    40%,60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}
.dynamic_txt li{
    position: relative;
}




.image{
    width: 100%;
    height:100%;
    z-index: -1;
    cursor:pointer;
 
    border-radius: 10px;
}

.title{
    font-size: 53px;
    letter-spacing: .1em;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 5%;
    border-radius: 20px;
    margin: 2%;
   
    width: 43%;
    text-align: center;
    margin-left: 50%;
    translate: -50% -50%;
    margin-right:50% ;
   
}
.descripton{
    z-index: 1;
    font-size: 30px;
    opacity: 80%;
    letter-spacing: 0.1em;
    width: 65%;
    padding: 2%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.greetings{
    margin: 5%;
    font-size: 35px;
    margin-bottom: 10%;
    font-family: 'Courier New', Courier, monospace;
    opacity: 100%;
    border-bottom: 2px solid #ffffff;
    
}
span{
  color:aquamarine ;
}
.nav_bar{
    width: 95%;

    border-radius: 20px;
    height: 25%;
    display: flex;
    margin: 0 auto;

}
header{
    height: 220px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;

}
.nav_links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 auto;

    font-size: 30px;
    list-style: none;
    width: 55%;
    height: 100%;
   
}
.a_tags:hover {
color:white;
padding: 5px;
border-radius: 5px;
border-bottom: 3px solid #43c6ac;
transform: scale(0.8s);


}
.a_tag:hover:active
    .a_tags:hover:active{
        color:white;
        padding: 5px;
        border-radius: 5px;
        border-bottom: 3px solid #43c6ac;
        
        
}

.a_tags{
    color: #fffffff8;
    text-decoration: none;
   
    font-weight: 600 ;
}
.image_box_ringlight{
    width: 100%;
    box-shadow: 0rem .1rem 3rem  #ffffff;

}
.ring_light{
    width: 100%;
    height: 30vh;    
}
.sec1{
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 60px;
    margin-top: 10%;

}
h2{
    margin-bottom: 2%;
    margin-top: 0%;
    font-size: 40px;
    
}
.descripton_text_sec2{
    font-size: 35px;
    text-align: start;
    margin-left: 20%;
    margin-bottom: 1%;
    margin-top: 2%;
}
.services{
    font-size:35px;
    text-align: left;
    margin-left:40%;
    margin-bottom: 2%;
    color:#43c6ac;
    list-style: none;


}
.descripton_text{
    font-size: 25px;
    text-align: left;
    opacity: 80%;
    margin-left: 42%;
    width: 60%;
    padding-right: 5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .1em;
    margin-bottom: 10px;


}
html{
    scroll-behavior: smooth;
}
.image_sec1{
    width: 40%;
    height: 60vh;
    position: absolute;
    top: 35%;
    left: 20%;
    translate: -50% -50%;
    z-index: -1;
}
.sec2{
    width: 100vw;
    height:150vh;
    position: relative;
    background: url(assets/imac\ wallaper.jpeg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.container_sites{
   
    width: 90%;
    height: 80%;
   margin-top: 7%;
   
   display: flex;
    padding:0px;
    margin-left: 5%;
   
}
@keyframes slide_in{
    from{
        transform: translateX(200%);
    }
}
.box_sites{
    background:rgba(255,255,255,0.2);
    width: 40%;
    margin: 10px;
    border-radius: 20px ;
    padding:10px;
    height: 95%;
    transition:0.3s;
    backdrop-filter: blur(100px);
    animation: slide_in 3s ease-out 1 ;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    
}
.h2_sec2{
    margin: 5%;

}
.descripton_sites{
    font-size: 25px; 
    opacity: 80%;
    padding-right: 5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .1em;
    margin-bottom: 50px;
 
}

.image_sites_img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;

}
.box_sites2{
    background:rgba(255,255,255,0.2);
    width: 70%;
   margin: 10px;
    border-radius: 20px ;
    padding:10px;
    height: 95%;
    transition:0.5s;
    backdrop-filter: blur(100px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    animation: slide_in 3s ease-out 1 ;
    animation-timeline: view();
    animation-range: entry 0%;
    
}
.image_sites{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

  
}
.image_sites3{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 23%;
    margin: 0 auto;

}
.image_sites2{
    margin: 0 auto;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.descripton_text_sec1{
    font-size: 35px;
    text-align: start;
    margin-left: 20%;
    margin-bottom: 1%;
    margin-top: 2%;
}
.note{
    font-size: 25px;
    text-align: start;
    margin-left: 22%;
    margin-bottom: 5%;
    
}
.footer-section{
    height:45vh;
    width: 100vw;
    margin-top: 12%;
    background:rgba(20, 19, 21, 0.933);

}
.footer{
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 20px;
    padding: 10px;
    height: 39vh;
   
}
.logo-footer{
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow:0 .5rem 1rem #000 ;
    margin-bottom: 30px;
    margin-top: 5px;
}
.logo-footer_img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 0 auto;
    object-fit: cover;
}
.container-footer{
    height: 250px;
}
.social-container{
    justify-content: center;
    align-items: center;
    margin-left:40%;
    margin-bottom: 30px;
    
}
.socials a{
    margin-left:25px ;
   
}
.socials .image-footer{
    box-shadow:0 .5rem 1rem #000 ;
    border-radius: 5px;
    height: 37px;
    width: 37px;
}
.socials .image-footer-facebook{
    box-shadow:0 .5rem 1rem #000 ;
    border-radius: 20px;
    height: 37px;
    width: 37px;
}
.container-footer p{
    opacity: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
p.rights{
    margin-top: 20px;
    letter-spacing: 1px;
    opacity: 70%;
}
p.owner{
    color:mediumseagreen;
    opacity: 100%;
    font-size: 22px;

}
.comment_section{
    width: 100%;
    height: 170vh;

}
form{
    width: 100%;
    height:30vh;

}
.lab
{
    font-size: 20px;
    font-family: sans-serif;
    color: #ffffff;
    letter-spacing: .1em;
    margin: 5%;



}
.input_name{
    width: 50%;
    height: 20%;
    margin: 2%;
    margin-bottom: 10%;
    font-size: 15px;
    font-family: sans-serif;
}

input{
    height: 50%;
    width: 90%;
    color: #000;
    font-size: 20px;
    font-family: sans-serif;
    margin: 5% ;
    background-color: #ddd;
    border-radius: 10px;

}
.submit{
    color: #ffffff;
    width: 17%;
    height: 17%;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 85%;
    translate: -50% -50%;
    margin-top: 3%;
    border-radius: 20px;
    border: 2px solid white;
    background: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
}
.comment_results{

width: 100vw;
height: 100vh;
padding: 10px;
margin: 5px;
font-family: helvetica;

}
.container{
    width: min(90%,1140px);
    margin: 3rem auto;
}
.comment_container{
  
    position:relative;
}
#submit{
    width: 55px;
    height: 25px;
}
.comment_section p{
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #000;
    opacity: 70%;

}
.comment_section h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    color: #000;

}
.container{
    min-width:80%;
    width: 80%;

    justify-content: center;
    align-items: center;
    margin-top: 10%;
    height: 60vh;


}
#name_input{
margin-bottom: 5%;
width: 40%;
height: 50px;

}
#comment_txt{
    margin-bottom: 5%;
    
    

}
.comments_section{
    margin-top: 5%;
}
.comment_txt{
    height: 50px;
    width: 36%
}
.comments_section{
    background-color: #ddd;
    height: 100px;
    border-radius: 10px;
    position: relative; 
    padding: 20px;  
    
}
.comments_section::before{
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    background-color: #43c6ac;
    width: 2px;
    height: 100%;

}


.comment_container::before{
    content: '';
    background-color: rgb(170,170,170);
    position: absolute;
    min-height: 100%;
    width: 1px;
    left: -10px;
}
.comment_container:not(:first-child){
    margin-left: 3rem;
    margin-top: 1rem;
}
.comment_card{
    padding: 20px;
    background: white;
    border:1px solid rgba(0,0,0,0.3);
    border-radius: .5rem;
    min-width: 100%;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.1);
    color: #000;


}

.comment_title{
    margin-bottom:1rem;
    display: flex;
    
}
.comment_card p{
    margin-bottom:1rem;
    text-align: start;
}



@media (max-width:1400px)
{
    .title{
        font-size: 45px;
        width: 60%;
    }
    .greetings{
        font-size: 35px;
        width:90% ;
       
       
    }
    .logo-footer{
        width: 100px;
        height:100px;
    }
    .image_box{
        width: 38%;
        height:80vh ;
        top: 120%;
        left:75% ;
        
    }
    .container_sites{
   
        width: 90%;
        height: 80%;
     display: flex;
        padding:0px;
        margin-top: 0%;
        margin-left: 0%;
    }
    .descripton{
        font-size: 30px;
        margin-bottom: 15%;
        margin-left: 30%;
        translate: -50% ;
        width: 60%;
    }
    .nav_links{
        width: 100%;
    }
    header{
        height:130px;
    }
    .a_tags{
        font-size: 30px;
    }
    .image_sec1{
        width: 60%;
        margin-top: 2%;
        height: 30vh;
    }
    .blue_tiles{
        object-fit: cover;
        width: 100%;
        height: 60vh;
    }
    h2{
        margin-bottom:5%;
        font-size: 35px;

    }
    .descripton_text_sec2{
        margin-bottom: 5%;
        font-size: 20px;
        margin-left: 2%;
    }
    .descripton_sites{
        font-size: 20px;
        margin-bottom: 5%;
    }
    .sec1{
        padding: 20px;
        
    }
    .sec1{
        height: 100vh;
    }
    .services{
        margin-left: 5%;
        font-size: 30px;
    }
    .descripton_text{
        margin-left: 10%;
        width: 80%;
        font-size: 25px;
    }
    .sec2{
        height: 200vh;
       

    }
    .box_sites{
        height: 73%;
        width: 30%;
     
    }
    .box_sites2{
        height: 58%;
        position: absolute;
        left: 30%;
        width: 40%;
        
       
    }
    .h2_sec2{
        font-size: 30px;
        margin-bottom: 5%;
    }
    .image_sites3
    {
        width: 39%;
        top:27%;
    }
    .image_sites_img
    {
        width: 100%;
       
        object-fit: cover;
        border-radius: 20px;
    }
    .image_sites{
        width: 40%;
    
        
    }
    .image_sites2{
        width: 60%;
        height: 50%;
 
    }

    .descripton_text_sec1{
        margin-left:20px ;
        font-size: 25px;
    }
    .note{
        margin-left: 40px;
        font-size: 20px;
        margin-bottom: 5%;
    }
    .footer-section{
        height: 70vh;
        width: 100%;
        font-size: 30px;
    }
    .footer{
        width: 90%;
    }
    
    .input{
        font-size: 20px;
    }
    .footer-section .thanks
    {
        font-size: 20px;
    }
    .footer-section .owner{
        font-size: 30px;
    }
    .footer-section .rights{
        font-size: 20px;
    }

}
@media (max-width:1000px)
{
    .title{
        font-size: 45px;
        width: 60%;
    }
    .greetings{
        font-size: 30px;
        width:90% ;
       
       
    }
    .image_box{
        width: 40%;
        height:35vh ;
        top: 50%;
        left:67% ;
        
    }
    .container_sites{
   
        width: 90%;
        height: 80%;
     display: flex;
        padding:0px;
        margin-top: 0%;
        margin-left: 0%;
    }
    .descripton{
        font-size: 25px;
        margin-bottom: 15%;
        margin-left: 30%;
        translate: -50% ;
        width: 60%;
    }
    .nav_links{
        width: 100%;
    }
    header{
        height:130px;
    }
    .a_tags{
        font-size: 30px;
    }
    .image_sec1{
        width: 60%;
        margin-top: 2%;
        height: 30vh;
    }
    .blue_tiles{
        object-fit: cover;
        width: 100%;
        height: 60vh;
    }
    h2{
        margin-bottom:10%;
        font-size: 30px;

    }
    .descripton_text_sec2{
        margin-bottom: 10%;
        font-size: 25px;
        margin-left: 2%;
    }
    .descripton_sites{
        font-size: 25px;
        margin-bottom: 7%;
    }
    .sec1{
        padding: 20px;
        
    }
    .sec1{
        height: 75vh;
    }
    .services{
        margin-left: 5%;
        font-size: 30px;
    }
    .descripton_text{
        margin-left: 10%;
        width: 80%;
        font-size: 25px;
    }
    .sec2{
        height: 100vh;
       

    }
    .box_sites{
        height: 67%;
        width: 40%;
     
    }
    .box_sites2{
        height: 54%;
        position: absolute;
        left: 38%;
        width: 50%;
        
       
    }
    .h2_sec2{
        font-size: 30px;
        margin-bottom: 10%;
    }
    .image_sites3
    {
        width: 35%;
        top:39%;
    }
    .image_sites_img
    {
        width: 100%;
       
        object-fit: cover;
        border-radius: 20px;
    }
    .image_sites{
        width: 37%;
    
        
    }
    .image_sites2{
        width: 60%;
        height: 50%;
 
    }

    .descripton_text_sec1{
        margin-left:20px ;
        font-size: 25px;
    }
    .note{
        margin-left: 40px;
        font-size: 23px;
        margin-bottom: 10%;
    }
    .footer-section{
        height: 40vh;
        width: 100%;
    }
    .footer{
        width: 90%;
    }
   
    }




@media (max-width:800px){
    .title{
        font-size: 45px;
        width: 80%;
    }
    .greetings{
        font-size: 27px;
        width:70% ;
       
       
    }
    .image_box{
        width: 40%;
        height:35vh ;
        top: 60%;
        left:74% ;
        
    }
    .container_sites{
   
        width: 90%;
        height: 80%;
            display: flex;
        padding:0px;
        margin-top: 0%;
        margin-left: 0%;
    }
    .descripton{
        font-size: 25px;
        margin-bottom: 15%;
        margin-left: 30%;
        translate: -50% ;
        width: 60%;
    }
    .nav_links{
        width: 100%;
    }
    header{
        height:130px;
    }
    .a_tags{
        font-size: 30px;
    }
    .image_sec1{
        width: 60%;
        margin-top: 2%;
        height: 30vh;
    }
    .blue_tiles{
        object-fit: cover;
        width: 100%;
        height: 60vh;
    }
    h2{
        margin-bottom:10%;
        font-size: 30px;

    }
    .descripton_text_sec2{
        margin-bottom: 10%;
        font-size: 25px;
        margin-left: 2%;
    }
    .descripton_sites{
        font-size: 25px;
        margin-bottom: 10%;
    }
    .sec1{
        padding: 20px;
        
    }
    .sec1{
        height: 70vh;
    }
    .services{
        margin-left: 5%;
        font-size: 30px;
    }
    .descripton_text{
        margin-left: 10%;
        width: 80%;
        font-size: 25px;
    }
    .sec2{
        height: 100vh;
       

    }
    .box_sites{
        height: 80%;
        width: 40%;
     
    }
    .box_sites2{
        height: 64%;
        position: absolute;
        left: 38%;
        width: 50%;
        backdrop-filter: blur(100px);
        
       
    }
    .h2_sec2{
        font-size: 25px;
        margin-bottom: 10%;
    }
    .image_sites3
    {
        width: 35%;
        top: 37%;
    }
    .image_sites_img
    {
        width: 100%;
       
        object-fit: cover;
        border-radius: 20px;
    }
    .image_sites{
        width: 37%;
    
        
    }
    .image_sites2{
        width: 60%;
        height: 50%;
        
        
       
        

        
    }
    .descripton_text_sec1{
        margin-left:20px ;
        font-size: 20px;
    }
    .note{
        margin-left: 40px;
        font-size: 17px;
        margin-bottom: 10%;
       width: 80%;
    }
    .footer-section{
        height: 60vh;
    }
    .input{
        font-size: 20px;
    }
    .footer-section .thanks
    {
        font-size: 20px;
    }
    .footer-section .owner{
        font-size: 25px;
    }
    .footer-section .rights{
        font-size: 20px;
    }




}


@media (max-width:600px)
{
    .title{
        font-size: 35px;
        width: 80%;
        
    }
    .greetings{
        font-size: 27px;
        width:90% ;
        margin: 0 auto;
        margin-bottom: 7%;
       
       
    }
    .image_box{
        width: 50%;
        height:30vh ;
        top: 150%;
        left:50% ;
        
    }
    .descripton{
        font-size: 25px;
        margin-bottom: 50%;
        margin-left: 50%;
       
        width: 90%;
    }
    .nav_links{
        width: 100%;
    }
    header{
        height:130px;
    }
    .a_tags{
        font-size: 23px;
    }
    .image_sec1{
        width: 60%;
        margin-top: 2%;
        height: 30vh;
    }
    .blue_tiles{
        object-fit: cover;
        width: 100%;
        height: 60vh;
    }
    h2{
        margin-bottom:10%;
        font-size: 30px;

    }
    .descripton_text_sec2{
        margin-bottom: 10%;
        font-size: 25px;
        margin-left: 2%;
    }
    .descripton_sites{
        font-size: 20px;
    }
    .sec1{
        padding: 20px;
        
    }
    .sec1{
        height: 100vh;
    }
    .services{
        margin-left: 5%;
        font-size: 27px;
    }
    .descripton_text{
        margin-left: 10%;
        width: 90%;
        font-size: 20px;
    }
    .sec2{
        height: 250vh;
       

    }
    .box_sites{
        height: 50%;
        width: 60%;
        margin: 0 auto;
        
    }
    .box_sites2{
        height: 43%;
        position: absolute;
        top: 55%;
        left: 5%;
        width: 80%;
        
       
    }
    .h2_sec2{
        font-size: 25px;
        margin-bottom: 10%;
    }
    .image_sites3
    {
        width: 35%;
        top: 37%;
    }
    .image_sites_img
    {
        width: 100%;
       
        object-fit: cover;
        border-radius: 20px;
    }
    .image_sites{
        width: 37%;
    
        
    }
    .image_sites2{
        width: 50%;
        height: 50%;
        
        
       
        

        
    }
    .descripton_text_sec1{
        margin-left:20px ;
        font-size: 20px;
    }
    .note{
        margin-left: 40px;
        font-size: 17px;
        margin-bottom: 10%;
    }
    .footer-section{
        height: 70vh;
    }

    .input{
        font-size: 17px;
    }
    .footer-section .thanks
    {
        font-size: 17px;
    }
    .footer-section .owner{
        font-size: 20px;
    }
    .footer-section .rights{
        font-size: 17px;
    }

}
@media (max-width:500px){
    .title{
        font-size: 30px;
        width: 80%;
        
    }
    .greetings{
        font-size: 25px;
        width:90% ;
       
    }
    .image_box{
        width: 65%;
        height:25vh ;
        top: 80%;
        left:50% ;
        margin-top: 31%;
    }
    .descripton{
        font-size: 20px;
        margin-bottom: 60%;
        margin-left: 50%;
        translate: -50% ;
        width: 80%;
    }
    .nav_links{
        width: 100%;
    }
    header{
        height:130px;
    }
    .a_tags{
        font-size: 20px;
    }
    .image_sec1{
        width: 60%;
        margin-top: 2%;
        height: 30vh;
    }
    .blue_tiles{
        object-fit: cover;
        width: 100%;
        height: 60vh;
    }
    h2{
        margin-bottom:10%;
        font-size: 25px;

    }
    .descripton_text_sec2{
        margin-bottom: 10%;
        font-size: 20px;
        margin-left: 2%;
    }
    .descripton_sites{
        font-size: 23px;
        margin-bottom: 15%;
    }
    .sec1{
        padding: 20px;
        margin-top: 90%;
        
    }
    .sec1{
        height: 70vh;
    }
    .services{
        margin-left: 5%;
        font-size: 25px;
    }
    .descripton_text{
        margin-left: 10%;
        width: 90%;
        font-size: 20px;
    }
    .sec2{
        height: 200vh;
       

    }
    .box_sites{
        height:43%;
        width: 60%;
        margin: 0 auto;
        
    }
    .box_sites2{
        height: 40%;
        position: absolute;
        top: 47%;
        left: 5%;
        width: 80%;
        
       
    }
    .h2_sec2{
        font-size: 27px;
        margin-bottom: 15%;
    }
    .image_sites3
    {
        width: 37%;
        top: 37%;
    }
    .image_sites_img
    {
        width: 100%;
       
        object-fit: cover;
        border-radius: 20px;
    }
    .image_sites{
        width: 40%;
    
        
    }
   
    .descripton_text_sec1{
        margin-left:20px ;
        font-size: 20px;
    }
    .note{
        margin-left: 40px;
        font-size: 17px;
        margin-bottom: 10%;
        
    }
    @keyframes slide_in{
        from{
            transform: translateX(100%);
        }
    }

}
@media (max-width:400px){
    .title{
        font-size: 25px;
        width: 80%;
    }
    .greetings{
        font-size: 25px;
        width:90% ;
       
    }
    .image_box{
        width: 70%;
        height:35vh ;
        top:82%;
       
        left:50% ;

    }

  
    .descripton{
        font-size: 20px;
        margin-bottom: 90%;
        margin-left: 50%;
        translate: -50% ;
        width: 95%;
    }
    .nav_links{
        width: 100%;
        
    }
    header{
        height:130px;
    }
    .a_tags{
        font-size: 20px;
    }
    .image_sec1{
        width: 100%;
        margin-top: 2%;
        height: 30vh;
    }
    .blue_tiles{
        object-fit: cover;
        width: 100%;
        height: 60vh;
    }
    h2{
        margin-bottom:10%;
        font-size: 27px;
        margin-top: 10%;

    }
    .descripton_text_sec2{
        margin-bottom: 10%;
        font-size: 20px;
        margin-left: 2%;
    }
    .descripton_sites{
        font-size: 24px;
    }
    .sec1{
        padding: 20px;
        height: 80vh;
    }
    .services{
        margin-left: 2%;
        font-size: 26px;
    }
    .descripton_text{
        margin-left: 5%;
        width: 100%;
        font-size: 20px;
    }
    .sec2{
        height: 220vh;

    }
    .box_sites{
        height: 40%;
        width: 75%;
        margin: 0 auto;
        
    }
    .box_sites2{
        height: 40%;
        position: absolute;
        top: 44%;
        left:5%;
        width: 76%;
       
    }

    .box_sites2 .descripton_sites{
        margin-bottom: 20%;
        opacity: 100%;
    }
    
     
    
    .h2_sec2{
        font-size: 25px;
        margin-bottom: 10%;
    }
    .image_sites3
    {
        width: 47%;
        top: 40%;
    }
    .image_sites_img
    {
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .image_sites{
        width: 47%;
    
        
    }
    
    .descripton_sites{
        margin-bottom: 10px;

    }
    .descripton_text_sec1{
        margin-left:20px ;
        font-size: 22px;
    }
    .note{
        margin-left: 30px;
        font-size: 17px;
        margin-bottom: 10%;
    }
    .submit{
        margin-left: 50%;
        width: 30%;
        margin-top: 10%;
    }
    .footer-section{
        height: 70vh;
        width: 100%;

    }
    .logo-footer{
        width:100px;
        height:100px;
    }
    .input{
        font-size: 15px;
    }
    .footer-section .thanks
    {
        font-size: 17px;
    }
    .footer-section .owner{
        font-size: 20px;
    }
    .footer-section .rights{
        font-size: 17px;
    }
    @keyframes slide_in{
        from{
            transform: translateX(100%);
        }
    }

}
@media (max-width:375px){
    .image_box{
        width: 50%;
        height:35vh ;
        top: 100%;
        left:50% ;
        
    }
    .descripton_sites{
        margin-bottom: 20%;
        font-size: 20px;
    }
    .h2_sec2{
        margin-bottom: 10%;
    }
    .title{
        font-size: 25px;
        width: 80%;
    }
    .greetings{
        font-size: 23px;
        width:90% ;
       
    }
    
    .descripton{
        font-size: 17px;
        margin-bottom: 90%;
        margin-left: 50%;
        translate: -50% ;
        width: 95%;
    }
    .nav_links{
        width: 100%;
        
    }
    header{
        height:130px;
    }
    .a_tags{
        font-size: 20px;
    }
    .image_sec1{
        width: 100%;
        margin-top: 2%;
        height: 30vh;
    }
    .blue_tiles{
        object-fit: cover;
        width: 100%;
        height: 60vh;
    }
    h2{
        margin-bottom:10%;
        font-size: 25px;
        margin-top: 10%;

    }
    .descripton_text_sec2{
        margin-bottom: 10%;
        font-size: 20px;
        margin-left: 2%;
    }
    
    .sec1{
        padding: 20px;
        height: 80vh;
    }
    .services{
        margin-left: 2%;
        font-size: 25px;
    }
    .descripton_text{
        margin-left: 5%;
        width: 100%;
        font-size: 20px;
    }
    .sec2{
        height: 220vh;

    }
    .box_sites{
        height: 48%;
        width: 75%;
        margin: 0 auto;
        
    }
    .box_sites2{
        height: 43%;
        position: absolute;
        top: 53%;
        left:5%;
        width: 76%;
       
    }
    

    
     
    
    .h2_sec2{
        font-size: 25px;
        margin-bottom: 10%;
    }
    .image_sites3
    {
        width: 47%;
        top: 46%;
    }
    .image_sites_img
    {
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .image_sites{
        width: 47%;
    
        
    }
    
   
    .descripton_text_sec1{
        margin-left:20px ;
        font-size: 22px;
    }
    .note{
        margin-left: 30px;
        font-size: 17px;
        margin-bottom: 10%;
    }
    .submit{
        margin-left: 50%;
        width: 30%;
        margin-top: 10%;
    }
    .footer-section{
        height: 70vh;
        width: 100%;

    }
    .logo-footer{
        width: 100px;
        height: 100px;
    }
    @keyframes slide_in{
        from{
            transform: translateX(100%);
        }
    }
    
}
@media (width:344px){
    .image_box{
        width: 50%;
        height:35vh ;
        top: 75%;
        left:50% ;
        
    }
   
}
@media (height:812px){
    .image_box{
        width: 50%;
        height:35vh ;
        top: 90%;
        left:50% ;
        
    }
    
}
@media (height:720px){
    .image_box{
        width: 40%;
        height:30vh ;
        top: 113%;
        left:50% ;
        
    }
}
@media (height:740px){
    .image_box{
        width: 50%;
        height:35vh ;
        top: 90%;
        left:50% ;
        
    }
}
@media (height:932px){
    .image_box{
        width: 60%;
        height:25vh ;
        top: 79%;
        left:50% ;
        
    }
}
@media (height:915px){
    .image_box{
        width:65% ;
        height: 25vh;
        
    }
}
